<h1>
    <%= error.status || 500 %>
</h1>
<h2>
    <%= message %>
</h2>
<pre><%= error.cause ? JSON.stringify(error.cause) : 'Unknown cause' %></pre>
<pre><%= error.stack ? error.stack : 'No stack trace available' %></pre>